<html>
  <title>GAMETIME!</title>
  <link rel="icon" href="favicon.ico" type="images/favicon.ico" />

  <head>

  <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

  <style>

  #rules{

  }

  ul {

  }

  </style>

 </head>

<body>

	<center>

	<article id='rules'>
	Rules
	<br>
	<br>
		<ul>
			Iron Man
			Vaporises Spiderman
			Breaks Black Widow
		<br>
			Hulk
			Smashes Iron Man
			Crushes Tho
		<br>
			Black Widow
			Seduces Thor
			Ass kicks Hulk
		<br>
			Thor
			Annihilates Iron Man
			Defeats Spiderman
		<br>
			Spiderman
			Fires at Hulk
			Shoots Black Widow
		</ul>
	</article>
	</center>
</body>
