<html>
  <title>GAMETIME!</title>
  <link rel="icon" href="favicon.ico" type="images/favicon.ico" />

  <head>

  <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

  <style>

  ul {
  	margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
  }

  #rules{
		background-color: #000000;
		color: #FFFFFF;
		box-shadow: 0 0 5px rgba(0,0,0,0.4);
		border-radius: 3px;
		text-align: center;
  }

  body {
  	padding-left: 25%;
  	padding-right: 25%;
  	background-image: url(images/results_background.jpg);
  	background-size: 100% auto;
  	background-position: center top;
  }

  ul {
  	font-size: 18px;
  	font-family: 'Oswald';
  	padding-bottom: 20px;
  }

  h2 {
  	font-size: 24px;
  	font-family: 'Oswald';
  	padding-top: 20px;
  }

  </style>

 </head>

<body>
<br>
<br>

	<article id='rules'>

	<h2>RULES</h2>
	<br>
	<br>
		<ul>
			-- Iron Man -- 
			<br>
			Vaporises Spiderman
			<br>
			Breaks Black Widow
			<br>
			<br>
			-- Hulk --
			<br>
			Smashes Iron Man
			<br>
			Crushes Thor
			<br>
			<br>
			-- Black Widow --
			<br>
			Seduces Thor
			<br>
			Ass kicks Hulk
			<br>
			<br>
			-- Thor --
			<br>
			Annihilates Iron Man
			<br>
			Defeats Spiderman
			<br>
			<br>
			-- Spiderman --
			<br>
			Fires at Hulk
			<br>
			Shoots Black Widow
		</ul>

	</article>
</body>
